/*
 * style sheet
 */


body {
    background-color: #BEF7F1;
}

h1 {
    color: darkblue;
    margin: 20px;
}

h2 {
    margin: 20px;
    font-size: 30px;
}

h3 {
    margin: 20px;
    margin-top: 30px;
    font-size: 20px;
}

table {
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    margin: 20px;
    font-size: 20px;
}

th {
    background-color: #e5e3f2;
    border: 1px solid;
    border-color: black;
    padding: 10px;
}

td {
    background-color: white;
    border: 1px solid;
    border-color: black;
    padding: 10px;
}

input[type = button] {
    font-family: serif;
    font-size: 20px;
}

input[type = text] {
    font-family: serif;
    font-size: 20px;
    height: 30px;
    width: 250px;
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 6px;
    border-radius: 8px;
}

.button-box {
    margin: 20px;
}

.search-button {
    background: url(../icons/search.svg);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    width: 18px;
    height: 18px;
    background-position: center;
}

.info {
    margin: 20px;
    margin-top: 40px;
    font-size: 20px;
}

.term-box {
    margin: 50px;
    background: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray;
}

.term-header {
    margin: 20px;
    font-size: 20px;
}

.term-info {
    margin: 20px;
    font-size: 20px;
}
